/******************************************
/* CSS
/*******************************************/

@import 'tailwindcss';
@plugin "daisyui";



/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
.hero-bg {
  background-image: url('https://res.cloudinary.com/de3nl8aps/image/upload/v1747280513/myreeftreeShark_m74dx7.jpg');
  background-size: cover;
  background-position: center;
}

.profile {
  background-color: #88C9BF;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-top {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}


nav {
  display: flex;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  flex-direction: row;
}

header li a {
  display: block;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.landing {
  background-color: #88C9BF;
}

.form-text {
  color: white;
}

.bg-primary {
  background-color: #0A2463;
}

.bg-secondary {
  background-color: #FF6B6B;
}

.bg-accent {
  background-color: #F5F0E6;
}

.bg-sea {
  background-color: #88C9BF;
}

.reef-card {
  transition: all 0.3s ease;
  border: 1px solid #88C9BF;
}

.reef-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(10, 36, 99, 0.1);
}

.reef-image {
  height: 200px;
  object-fit: contain;
  border-bottom: 1px solid #88C9BF;
}

.component-checkbox:checked+.component-card {
  border-color: #2CCED2;
  box-shadow: 0 0 0 3px rgba(44, 206, 210, 0.2);
}

.profile-reef-card {
  transition: all 0.3s ease;
  border: 1px solid #88C9BF;
}

.profile-reef-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(10, 36, 99, 0.1);
}

.profile-reef-image {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #88C9BF;
}

.build-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid #88C9BF;
  margin-bottom: 1rem;
}